<div id="overlay_signup">
</div>
<div id="sign_form">
  <form action="%" method="get">
    <strong>Login:</strong><br/>
    <input type="text" name="fname"><br>
    <strong>Password:</strong><br/>
    <input type="text" name="lname"><br>
    <input type="submit" value="Enter" class="enter_button">
  </form>
<%= image_tag('sign_form_triangle.png') %>
</div>


