<div id="overlay_signup"> </div>
    <div id="sign_form">
      <a href="" id="sign_form_close"><%= image_tag('close.png') %></a>
      <form action="%" method="get">
        Login:<br/>
        <input type="text" name="fname"><br>
        Password:<br/>
        <input type="text" name="lname"><br>
        <input type="submit" value="Enter">
      </form>
    <%= image_tag('sign_form_triangle.png') %>
    </div>

